<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
    <% if is_admin && user.closed  %>
      <span class="badge bg-secondary">closed</span>
    <% end %>
  </p>
</div>
