<h2>List of ratings</h2>
<%= link_to "Input a new rating", new_rating_path %>
<ul>
 <% @ratings.each do |rating| %>
    <li> 
        <%= render rating %> 
        <%= button_to 'delete', rating, method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }  %> 
    </li>
 <% end %>
</ul>
